<script src="js/PTC.View.Menu.js"></script>

<div id="background" class="image_scale"></div>

<div id="menu">
	<div id="logo"></div>

	<div id="btnProfile" class="circleButton" onmousedown="javascript:OnBtnProfileMouseDown()" onmouseup="javascript:OnBtnProfileMouseUp()" onclick="javascript:OnBtnProfileClick()"></div>
	<div id="btnMap" class="circleButton" onclick="javascript:OnBtnMapClick()"></div>
	<div id="btnGame" class="circleButton"></div>
	<div id="btnUnnamed" class="circleButton"></div>
	<div id="btnOptions" class="circleButton"></div>
</div>
