<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  
	<% if (typeof(title) == 'undefined') { %>
		<title>Play The City</title>
	<% } else if (title != '') { %>
		<title>Play The City - <%=title%></title>
	<% } %>
	
	<meta name="description" content="">
	<meta name="author" content="Play The City">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="favicon.ico">
	<link rel="apple-touch-icon" href="apple-touch-icon.png">
    
    <link rel='stylesheet' type="text/css" href='css/style.css' />
    <link rel='stylesheet' type="text/css" href='css/ui.css' />
    <link rel="stylesheet" type="text/css" href="css/lightbox.css" />
    
    <% if (stylesheet) { %>
		<link rel='stylesheet' type="text/css" href='css/<%= stylesheet %>.css' />
    <% } %>
    
    <script src="js/lib/modernizr-1.7.min.js"></script>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
	<script>!window.jQuery && document.write(unescape('%3Cscript src="js/lib/jquery-1.5.1.min.js"%3E%3C/script%3E'))</script>
	
	<script src="js/PTC.Core.js"></script>
	<script src="js/PTC.UI.js"></script>
	
	
	<script>		
		// http://blog.mixable.de/jquery-unterschied-zwischen-document-ready-und-window-load/
		// Hide load div after everything has been loaded
		$(window).load(function() 
		{
			$('#loading').hide();
		});
		
		function loginHandler()
		{
			// Show login box
			$('#loginbox').show();
			
			// Make labels a bit transparent
			$('#lblLoginMail').css('opacity', 0.8);
			$('#lblLoginPwd').css('opacity', 0.8);
			
			// Hide labels if cursor is in input box
			$('#edtLoginMail').focusin(function()
			{
				$('#lblLoginMail').fadeTo(300, 0.1);
			});
			$('#edtLoginPwd').focusin(function()
			{
				$('#lblLoginPwd').fadeTo(300, 0.1);
			});
			
			// Show labels if input box empty and not focused
			$('#edtLoginMail').focusout(function()
			{
				if ($('#edtLoginMail').val() == "") $('#lblLoginMail').fadeTo(300, 0.8);
			});
			$('#edtLoginPwd').focusout(function()
			{
				if ($('#edtLoginPwd').val() == "") $('#lblLoginPwd').fadeTo(300, 0.8);
			});
		}
		
		// Hide non-mobile elements on mobile browsers
		$(document).ready(function()
		{
			if (typeof(Platform) != "undefined")
			{ 
				if (Platform.isMobile()) $('.non-mobile').hide();
				else loginHandler();
			}
			else loginHandler();
		});
	</script>
  </head>
  <body>
    <div id="fb-root"></div>
  
	<div id="loginbox" class="non-mobile">
		<script>
		var loginbox = new PTC.UI.Notification('#loginbox');
		
		$(document).ready(function()
		{
			loginbox.setWidth('222px', '350px');
			loginbox.setHeight('160px', '70px');
			loginbox.collapse();
			
		
			 window.fbAsyncInit = function() {
				FB.init({ appId:'194632083901827', cookie:true, 
				status:true, xfbml:true });
				
				$('#fb_loginbutton').css('padding-top', '4px');
                $('#fb_loginbutton').css('padding-bottom', '4px');
				
				// User already logged in
				FB.getLoginStatus(function(response) 
				{
				  if (response.session) 
				  {
					loginbox.expand();
					$('#login_input').hide();
					
					$('#fb_loginbutton').css('padding-top', '0px');
					$('#fb_loginbutton').css('padding-bottom', '0px');
				  }
				});
				
				FB.Event.subscribe('auth.sessionChange', function(response) 
				{
				  // Logged in -> Clicked "Login"
				  if (response.session) 
				  {
					loginbox.expand();
					$('#login_input').hide();
					
					$('#fb_loginbutton').css('padding-top', '0px');
                    $('#fb_loginbutton').css('padding-bottom', '0px');
				  }
				  else // Logged out -> Login-Button visible
				  {
					loginbox.collapse();
					
					$('#fb_loginbutton').css('padding-top', '4px');
					$('#fb_loginbutton').css('padding-bottom', '4px');
				  }
				});
				
			  };
			  (function() {
				var e = document.createElement('script'); e.async = true;
				e.src = document.location.protocol +
				  '//connect.facebook.net/de_DE/all.js';
				document.getElementById('fb-root').appendChild(e);
			  }());
		});

		
         //FB.ui({ method: 'feed', 
            //message: 'Facebook for Websites is super-cool'});
      </script>
	
		<span id="loginboxClose" class="close-btn-26" title="Close" onclick="javascript:loginbox.hide();">Close</span>
		<div id="login_input" style="margin-left: 10px;">
			<p>
				<label for="edtLoginMail">
					<span id="lblLoginMail" class="labelinside">E-Mail-Adresse</span>
					<input type="text" class="input" id="edtLoginMail" name="edtLoginMail" required />
				</label>
			</p>
			<p>
				<label for="edtLoginPwd">
					<span id="lblLoginPwd" class="labelinside">Passwort</span>
					<input type="password" class="input" id="edtLoginPwd" name="edtLoginPwd" required />
					<span><small>Passwort vergessen?</small></span>
				</label>
			</p>
			<br />
			<span class="text_button"><a>Anmelden</a></span>
		</div>
		<div style="overflow:hidden;" width="100%">
			<fb:login-button show-faces="true" width="320" max-rows="1" id="fb_loginbutton" style="margin-left: 10px;">Mit Facebook anmelden</fb:login-button>
		</div>
		<small><a href="/register">Kein Account?</a></small>
	</div>
  
	<div id="content">
		<%- body %>
		
		<div id="loading">
			<img id="logo_small" src="content/logo_small.png" alt="Logo" />
			<img id="loader" src="content/loader.gif" alt="Laden..." />
		</div>
	</div>
	
	<div id="achievement_box"><span id="ach_title">Achievement unlocked</span><br/><span id="ach_text">Some text</span></div>
	
	<footer class="non-mobile">
      (C) 2009 - 2011 Play The City - <a href="/credits">Mitwirkende</a> - <a href="/contact">Impressum / Kontakt</a>
    </footer>
  </body>
</html>
