<script src="js/PTC.Quiz.js"></script>

<div id="boxQuestion" class="questionBox">Was ist dieses so genannte Augsburg?</div>

<div id="Answer">
	<div id="btnAnswer1" class="answerButton" onclick="javascript:OnBtnAnswer1Click()">Land</div>
	<div id="btnAnswer2" class="answerButton" onclick="javascript:OnBtnAnswer2Click()"> Fluss</div>
	<div id="btnAnswer3" class="answerButton" onclick="javascript:OnBtnAnswer3Click()">Baum</div>
	<div id="btnAnswer4" class="answerButton" onclick="javascript:OnBtnAnswer4Click()">Stadt</div>
	<div id="btnNext" class ="nextButton" onclick="javascript:OnBtnNextClick()">Weiter</div>
	<div id="btnRetry" class="retryButton" onclick="javascript:OnBtnRetryClick()">Wiederholen</div>
</div>
