<script src="js/PTC.Map.js" type="text/javascript"></script>
<script type="text/javascript">

    /*function resizeEvent(event)
    {
      $('#map').height($(window).height() - $('footer').height() - $('#quickbar').height());

      $('.white_content').width($(window).width() * 0.8);
      $('.white_content').height($(window).height() * 0.8);

      $('.white_content').css("margin-left", (- $('.white_content').width() / 2) + "px");
      $('.white_content').css("margin-top", (- $('.white_content').height() / 2) + "px");
    }

    var APIKEY = 'c4a96f80767b4bff94b2e65fdda49f10',
    	map,
    	cityBounds,
    	layer_map,
        layer_sights,
        layer_wiki;

    $(function()
    {
      resizeEvent();

      $('#panorama').width($('.white_content').innerHeight() * 5.83);


      $('.point').click(
      function()
      {
        $('.bubble').animate({opacity: 0.85}, 125);
      });
    });

    function drawMap(position)
    {
      var cloudmade;
      if (Platform.isMobile())
		cloudmade = new CM.Tiles.CloudMade.Mobile({key: APIKEY});
	  else
        cloudmade = new CM.Tiles.CloudMade.Web({key: APIKEY, styleId: 30822});
      
      map = new CM.Map('map', cloudmade);

      cityBounds = new CM.LatLngBounds(new CM.LatLng(48.3275, 10.8301), new CM.LatLng(48.4153, 10.9592));

      // Init
      map.setCenter(cityBounds.getCenter(), 16);


      CM.Event.addListener(map, "zoomend", function()
      {
        if (map.getBoundsZoomLevel(cityBounds) >= map.getZoom())
		  map.setCenter(cityBounds.getCenter(), map.getBoundsZoomLevel(cityBounds));
	  });

      map.addControl(new CM.ScaleControl());
      map.addControl(new CM.OverviewMapControl(), new CM.ControlPosition(CM.BOTTOM_RIGHT, new CM.Size(20, 20)));
      
      
      
      var sidebar = new CM.SearchSidebar({key: APIKEY});
      
      CM.Event.addListener(map, "sidebaropened", function()
      {
	    //$('.mapNav').css('left', '200px');
	    //alert("open");
      });
      
      CM.Event.addListener(map, "sidebarclosed", function()
      {
	  
      });
      
      map.setSidebar(sidebar);
      map.openSidebar();
      
      

      var marker = new CM.Marker(new CM.LatLng(48.36895, 10.8974));
      //map.addOverlay(marker);

      CM.Event.addListener(marker, "click", function()
      {
        marker.openInfoWindow(
	        '<a href="javascript:void(0)" onclick="showLightbox(\'box_rathaus\')"><img class="teaser" src="content/teaser_rathaus.jpg"/></a>' +
		    '<span class="editable" contenteditable="true">Das Augsburger Rathaus</span>' +
            '<hr class="divider" />' +
		    '<p class="editable" contenteditable="true">Das Augsburger Rathaus wurde zwischen 1615 und 1620 von Elias Holl erbaut und stellt durch seine Größe und Pracht das Selbstbewußtsein der ehemals freien Reichsstadt dar. Es beherbergt den Prunksaal "Goldener Saal", welcher zu den bedeutendsten Kulturdenkmälern der Spätrenaissance zählt.</p>' +
            '<hr class="divider" />' +
            '<span><a href="javascript:void(0)" onclick="showLightbox(\'box_rathaus\')">Hier klicken für genauere Informationen</a></span>');

        $('.wml-info-window').attr({opacity: 0.0});
        $('.wml-info-window').animate({opacity: 0.85}, 125);
      });

      var wikimarker = new CM.Marker(new CM.LatLng(48.368, 10.8974));
      //map.addOverlay(wikimarker);

      CM.Event.addListener(wikimarker, "click", function()
      {
        marker.openInfoWindow(
	        '<a href="javascript:void(0)" onclick="showLightbox(\'box_augsburg_wiki\')"><img class="teaser" src="content/teaser_rathaus.jpg"/></a>' +
		    '<span>Wikipedia: Augsburg</span>' +
            '<hr class="divider" />' +
		    '<p>Zeigt den Wikipedia-Artikel über Augsburg.</p>' +
            '<hr class="divider" />' +
            '<span><a href="javascript:void(0)" onclick="showLightbox(\'box_augsburg_wiki\')">Hier klicken für genauere Informationen</a></span>');

        $('.wml-info-window').attr({opacity: 0.0});
        $('.wml-info-window').animate({opacity: 0.85}, 125);
      });
      
      var geomarker = new CM.Marker(new CM.LatLng(position.coords.latitude, position.coords.longitude));
	  
	  map.addOverlay(marker);
	  map.addOverlay(wikimarker);
	  map.addOverlay(geomarker);
	  
	  geomarker.hide();
    }
    
    
    

    if (window.addEventListener)
	window.addEventListener('resize', resizeEvent, false);
    else
    {
	    if (window.attachEvent)
		    window.attachEvent('onresize', resizeEvent);
    }

    function showLightbox(id)
    {
      $('#'+id).css('display', 'block');
      $('#fade').css('display', 'block');

      $('#fade').animate({opacity: 0.8}, 500);
    }

    function hideLightbox(id)
    {
      $('#fade').animate({opacity: 0.0}, 500, 'linear',
        function()
        {
          $('#'+id).css('display', 'none');
          $('#fade').css('display', 'none');
        });
    }

    function hideAllLightboxes()
    {
      $('#fade').animate({opacity: 0.0}, 500, 'linear',
      function()
      {
        $('.white_content').css('display', 'none');
        $('#fade').css('display', 'none');
      });

    }
    
    function centerMap()
    {
	  map.setCenter(cityBounds.getCenter(), map.getZoom());
    }*/
  </script>
  
<div id="outerMap">
	<div id="innerMap"></div>
	
	<div id="t1" class="treasure" onclick="javascript:treasureClick(t1)"></div>
	<div id="t2" class="treasure" onclick="javascript:treasureClick(t2)"></div>
	<div id="t3" class="treasure" onclick="javascript:treasureClick(t3)"></div>
	<div id="t4" class="treasure" onclick="javascript:treasureClick(t4)"></div>
	<div id="t5" class="treasure" onclick="javascript:treasureClick(t5)"></div>
	<div id="t6" class="treasure" onclick="javascript:treasureClick(t6)"></div>
</div>

<div id="mapNav" class="non-mobile">
  <div class="navBtn navBtn0" onmousedown="javascript:PTC.Map.getMapCanvas().panBy(new CM.Size(0, -PTC.Map.getMapCanvas().getSize().height / 4));"></div>
  <div class="navBtn navBtn1" onmousedown="javascript:PTC.Map.getMapCanvas().panBy(new CM.Size(PTC.Map.getMapCanvas().getSize().width / 4, 0));"></div>
  <div class="navBtn navBtn2" onmousedown="javascript:PTC.Map.getMapCanvas().panBy(new CM.Size(0, PTC.Map.getMapCanvas().getSize().height / 4));"></div>
  <div class="navBtn navBtn3" onmousedown="javascript:PTC.Map.getMapCanvas().panBy(new CM.Size(-PTC.Map.getMapCanvas().getSize().width / 4, 0));"></div>

  <div id="slider">
	<div id="slider_arrow"></div>
  </div>  

  <div id="btnZoomIn" class="navBtn" onmousedown="javascript:PTC.Map.getMapCanvas().zoomIn();"></div>
  <div id="btnZoomOut" class="navBtn" onmousedown="javascript:PTC.Map.getMapCanvas().zoomOut();"></div>
</div>

<div id="mapOptions" class="notification">
	<span class="subtitle">Kartenanzeige</span><br />
	<input type="radio" id="rbtnMidnight" name="rbMapOption" value="Midnight"><label for="rbtnMidnight" class="rbOption" id="lblMidnight"> Nachtmodus</label><br />
    <input type="radio" id="rbtnAll" name="rbMapOption" value="All" checked><label for="rbtnAll" class="rbOption" id="lblAll"> Komplett</label><br />
    <input type="radio" id="rbtnEatingOut" name="rbMapOption" value="EatingOut"><label for="rbtnEatingOut" class="rbOption" id="lblEatingOut"> Essen & Trinken</label><br />
    <input type="radio" id="rbtnLodging" name="rbMapOption" value="Lodging"><label for="rbtnLodging" class="rbOption" id="lblLodging"> Hotels & Hostels</label><br />
    <input type="radio" id="rbtnRetail" name="rbMapOption" value="Retail"><label for="rbtnRetail" class="rbOption" id="lblRetail"> Einzelhandel</label><br />
    <input type="radio" id="rbtnCulture" name="rbMapOption" value="Kultur"><label for="rbtnCulture" class="rbOption" id="lblCulture"> Kultur</label><br />
    <input type="radio" id="rbtnTransportation" name="rbMapOption" value="Transportation"><label for="rbtnTransportation" class="rbOption" id="lblTransportation"> Verkehrsnetz</label><br />
    <input type="radio" id="rbtnNone" name="rbMapOption" value="None"><label for="rbtnNone" class="rbOption" id="lblNone"> Leer (ohne Extras)</label><br />
    <br />
    <input type="checkbox" id="chbPins" name="chbPins" checked><label for="chbPins" id="lblPins">Stecknadeln</label><br />
    <input type="checkbox" id="chbTreasure" name="chbTreasure" checked><label for="chbTreasure" id="lblTreasure">Schatztruhen</label>
    <br /><br />
    <span class="subtitle">Optionen</span><br />
    <span class="text_button"><a href="javascript:PTC.Map.toggleSearchBar();">Suchleiste</a></span>
    <span class="text_button"><a href="javascript:PTC.Map.toggleQuickBar();">Schnellleiste</a></span>
    <span class="text_button"><a href="javascript:PTC.Map.toggleMiniMap();">Minikarte</a></span>
    <span class="text_button"><a href="javascript:PTC.Map.toggleControls();">Steuerung</a></span>
</div>

<div id="bubbleWindow">
	<span id="loginboxClose" class="close-btn-26" title="Close" onclick="">Close</span>

	<a href="javascript:void(0)" onclick="showLightbox(box_rathaus)"><img class="teaser" src="content/teaser/rathaus.jpg"/></a>
	<span class="editable" contenteditable="true">Das Augsburger Rathaus</span>
	<hr class="divider" />
	<p class="editable" contenteditable="true">Das Augsburger Rathaus wurde zwischen 1615 und 1620 von Elias Holl erbaut und stellt durch seine Größe und Pracht das Selbstbewußtsein der ehemals freien Reichsstadt dar. Es beherbergt den Prunksaal "Goldener Saal", welcher zu den bedeutendsten Kulturdenkmälern der Spätrenaissance zählt.</p>
	<hr class="divider" />
	<span><a href="javascript:void(0)" onclick="showLightbox(box_rathaus)">Hier klicken für genauere Informationen</a></span>
</div>

<div id="quickbar">
  <ul class="map_buttons">
	  <li><span>Quick Bar</span></li>
	  <li><a href="javascript:PTC.Map.centerMap()">Stadtmitte</a></li>
	  <li><a href="">Augsburger Rathaus</a></li>
	  <script>
	  panorama = '<div id="panoramaview"></div>' +
	  '<div class="navBtn navBtn1" onclick="javascript:movePanoramaRight();" style="top: 50%; margin-top: -16px;"></div>' +
	  '<div class="navBtn navBtn3" onclick="javascript:movePanoramaLeft();" style="top: 50%; margin-top: -16px;"></div>' + 
	  '<br /><center><font size="+1"><b>Augsburg Panorama</b></font></center>';
	  
	  var posx;
	  
	  function updatePanorama()
	  {
		$('#panoramaview').css('background-position', posx + 'px 0px');
	  }
	  
	  function movePanoramaLeft()
	  {	    		
		posx = posx + 300;
		updatePanorama();
	  }
	  
	  function movePanoramaRight()
	  {
		posx = posx - 300;
		updatePanorama();
	  }
	  
	  function showPanorama()
	  {
	    posx = 1400;
	    updatePanorama();
	  
		//if ($(window).height() > 520)
			//PTC.UI.Lightbox.setSize(0.8, 512);
		//else
			PTC.UI.Lightbox.resetSize();
			
		PTC.UI.Lightbox.show(panorama);
	  }
	  
	  
	  </script>
	  <li><a href="javascript:showPanorama();">Panorama</a></li>
  </ul>
</div>

<!-- <div id="box_augsburg_wiki" class="white_content">
       <span class="close-btn" title="Close" onclick="javascript:hideLightbox('box_augsburg_wiki')">Close</span>

       <iframe src="http://de.wikipedia.org/wiki/Augsburg?printable=yes" width="100%" height="100%">
       </iframe>
    </div>

    <div id="box_rathaus" class="white_content">
      <span class="close-btn" title="Close" onclick="javascript:hideLightbox('box_rathaus')">Close</span>
      <img class="box_bg" src="content/big_rathaus.jpg" width="100%" height="100%" />

    </div>

    <div id="box_puppenkiste" class="white_content">
      <span class="close-btn" title="Close" onclick="javascript:hideLightbox('box_puppenkiste')">Close</span>
      <img class="box_bg" src="content/big_puppenkiste.jpg" width="100%" height="100%" />

    </div>

    <div id="lightboxContent">
      <span class="close-btn" title="Close" onclick="javascript:hideLightbox('box_panorama')">Close</span>
      <img class="box_bg" id="panorama" src="content/big_panorama.jpg" width="583%" height="100%" />

    </div>

    <div id="lightboxFade" onclick="javascript:hideAllLightboxes()"></div> -->
