.black_overlay
{
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:20000000;

	-moz-opacity: 0.0;
    -khtml-opacity: 0.0;
	opacity: 0.0;
	filter: alpha(opacity=0);
}

.white_content
{
	display: none;
	position: absolute;

    /*left: 5%;
    top: 5%;

    margin: 5% auto;

    width: 80%;
	height: 80%;*/

	padding: 16px;
	border: 4px solid #cccccc;
	background-color: white;
	z-index:20000001;
	/*overflow: hidden;*/

    -moz-box-shadow: 0 0 32px #000000;
  	-webkit-box-shadow: 0 0 32px #000000;
  	box-shadow: 0 0 32px #000000;

    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

.close-btn
{
  display: block;
  position: absolute;
  top: -16px;
  right: -16px;
  height: 0;
  width: 36px;
  padding: 36px 0 0 0;
  overflow: hidden;
  background: #000000 none;
  border: 4.09090909090909px solid #ffffff;
  -moz-border-radius: 36px;
  -webkit-border-radius: 36px;
  border-radius: 36px;
  box-shadow: 0 0 6px #000000, 1.63636363636364px 1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3), -1.63636363636364px 1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3), 1.63636363636364px -1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3), -1.63636363636364px -1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 0 6px #000000, 1.63636363636364px 1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3), -1.63636363636364px 1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3), 1.63636363636364px -1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3), -1.63636363636364px -1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 6px #000000, 1.63636363636364px 1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3), -1.63636363636364px 1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3), 1.63636363636364px -1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3), -1.63636363636364px -1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 6px #000000, 1.63636363636364px 1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3), -1.63636363636364px 1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3), 1.63636363636364px -1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3), -1.63636363636364px -1.63636363636364px 1.63636363636364px rgba(0, 0, 0, 0.3);
  color: #ffffff;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  z-index: 20000002;
}

.close-btn a
{
text-decoration: none;
}

.close-btn:before
{
  content: "\D7";
  display: block;
  text-align: center;
  width: 36px;
  position: absolute;
  top: -3.6px;
  left: 0;
  font-size: 36px;
  line-height: 36px;
  font-family: "Helvetica Neue", Consolas, Verdana, Tahoma, Calibri, Helvetica, Menlo, "Droid Sans", sans-serif;
}

.box_bg
{
  position: absolute;
  left: 0px;
  top: 0px;
}
